.container{
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.esquerda{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0%;
  height: 100%;
  width: 20%;
  background-color: white;
  box-shadow: 5px 10px 8px #888888;
}
.esquerda > .cima{
  position: absolute;
  top: 0%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.esquerda > .cima > a{
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.esquerda > .cima > a > img{
  width: 60%;
  top: 1%;
  pointer-events: auto;
}
.esquerda > .baixo{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: 0%;
  height: 80%;
  width: 100%;
}
.esquerda > .baixo > .cimaB{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  top: 0%;
  height: 50%;
  width: 100%;
}
.esquerda > .baixo > .baixoB{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  bottom: 0%;
  height: 50%;
  width: 100%;
}
.direita{
  position: absolute;
  right: 0%;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #00FA9A;
}
.direita > .cima{
  position: absolute;
  background-color: transparent;
  display: flex;
  top: 0%;
  height: 50%;
  width: 100%;
}
.direita > .cima > .esquerdaC{
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0%;
  height: 100%;
  width: 50%;
}
.direita > .cima > .direitaC{
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0%;
  height: 100%;
  width: 50%;
}